/* Table CSS */
.table {
    display: grid;
    border: 1px solid black;
    overflow: auto;
    margin: 0 auto;
}

.table-row {
    display: contents; 
    text-align: center;
    overflow: scroll;
}

.table-heading {
    font-weight: bolder;
    text-align: center;
}

.table-col {
    padding: 10px; 
    border: 1px solid black;
}


.rowData {
    width: fit-content;
    margin: auto;
}



.edit-table{
    display: none;
    margin: 20px auto;
}



/* Buttons */

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionBtn {
    width: 80px;
    margin: 0 5px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.delete-btn{
    background-color: #ff4d4d;

    &:hover {
        background-color: #ff3333;
    }
}

.edit-btn{
    background-color: #4CAF50;

    &:hover {
        background-color: #45a049;
    }
}