.course-container{
    width: 60%;
    padding: 16px;
    margin: 16px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.addData-title{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 20px 0;

}

.formContainer{
    display: flex;
    flex-wrap: wrap;
}

.formContainer div{
    margin: 3px 0;
}

.formContainer div label{
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}

.formContainer div input, .formContainer div select{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formContainer div label {
    width: 60px;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.submitBtn{
    width: 80px;
    height: 40px;
    margin: 0 auto;
    background-color: #7c67ef;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}